
body, ul, li, input, form, p, h1, h2, h3 {
	padding: 0;
	margin: 0;
	font-family: verdana,helvetica,arial,sans-serif;/*来自原网页的body中font-family的值，也就是f12观察*/
}
li { list-style: none; }
img { border: none; } /*有些浏览器比如IE，会给img默认添加蓝色边框*/
a { color: white; } /*a标签没有href属性的时候，颜色是黑色；有了href属性后，颜色变为#72ACE3，因而需要改颜色为white*/
a { text-decoration: none; }
a:hover { text-decoration: underline; }

#topbar {
	background-color: #7A0000;
	width: 100%;
	height: 40px;
	color: white;
}

.fixedwidth {
	width: 1050px;
	margin: 0 auto;
	overflow: hidden;
	position: relative; /*目标是让.searchdiv进行定位*/
}/*此为固定居中布局*/ /*注意其里面都是浮动元素，所以需要撑开，不然没有设置高度的话，其一直高度为0*/

#content .fixedwidth {
	border-bottom: 1px solid #4c4c4c;
}

#logodiv {
	padding-top: 5px;
	border-right: 1px solid #990000;
	padding-right: 10px;
	float: left;/*为了使得后面新加入的div会不显示在此div后面，而是显示在其右边*/
	height: 35px;  /*高度为40px-(5px的padding)*/ /*如果直接设置height为40px，那就需要对img进行定位，而img作为内联元素，定位比较困难(如果想定位的话就用position:relative; top:XX;定位其在盒子中的为位置。不然的话位置就是默认左上角)*/
}

#signindiv {
	font-size: 14px;
	font-weight: bold;
	border-right: 1px solid #990000;
	padding: 4px 60px 11px 20px;/*【help!】疑惑点是，为什么content是89*25，当图片和文字在一起的时候，外部盒子的content是怎么确定的？*/
	float: left;
}

#signindiv img {
	position: relative;
	top: 5px;
}

#topmenudiv, #topmenudiv ul {
	float: left;
} /*注意，这两个都要设置浮动，撑开元素*/

#topmenudiv li {
	font-weight: bold;
	font-size: 0.9em;
	float: left;
	line-height: 40px; /*使用line-height使其字体居中，并且content高度为40px*/
	padding: 0 20px 0 20px;/*两边设置padding*/
	border-right: 1px solid #990000;
}

#topmenudiv a:hover { 
	text-decoration: none; 
}
/*searchdiv框整体相对于.fixedwidth进行定位*/ /*然后其又成了内部两个input的父级定位元素。内部的两个input可以相对于这个searchdiv框进行定位*/
.searchdiv {
	width: 120px;
	height: 25px;
	background: url(images/magnify.png) no-repeat top right;
	position: absolute; /*相对于外围的.fixedwidth的定位*/
	top: 5px;
	right: 0;
}

/*input默认有width、height、border、outline、background(默认为白色，如果none之后，则背景直接无色了)*/
.searchdiv .text {
	width: 90px; /*120px-30px，即search框总长度-submit框长度=输入框长度*/
	height: 25px;
	border: none; /*注意去掉border,这个border一定要在input实际位置设置去掉，而不能在外边去掉。注意，在其父元素中设置不会起作用！*/
	outline: none; /*outline: none;是由于chrome下input默认会添加一个框，需要把这个框去掉*/
	position: absolute; /*相对于外围的searchdiv框定位*/
} /*input框的width和height需要自己设置，不然就是浏览器默认值*/

/*submit框一旦没有value，其宽度就为0，因而需要重新设定宽度*/ /*其内容为一个搜索的图片，该图片大小正好为btn的大小30*25*/
.searchdiv .btn {
	width: 30px;
	height: 25px;
	border: none; /*注意去掉border*/
	background: none;
	position: absolute; /*相对于外围的searchdiv框定位*/
	right: 0;
	top: 0;
}

#newsbar {
	background-color: #990000;
	width: 100%;
	height: 100px;
	color: white;
}

#newsheader {
	float: left;
	padding-top: 10px;
	font-size: 3em;
}

#uk {
	padding-left: 20px;
	font-size: 0.7em; /*这个相对大小是在其父元素的基础上，也就是NEWS的3em基础上的相对变化*/
}

/*对于图片的垂直居中，还没有比较好的解决方法。【待修改中....】*/
#rss {
	float: right;
	padding-top: 45px;
	height: 20px;
	line-height: 20px;
	font-size: 14px;

}	

#rss img {
	padding-left: 5px;
}

.break {
	clear: both;
}

#topicmenu, #topicmenu ul {
	float: left;
	width: 1050px;	
	height: 25px;
}

#topicmenu {
	margin-top: 7px; 
}

#topicmenu ul {
	background-color: #3E0C0D;
}

#topicmenu li {
	float: left;
	font-size: 0.8em;
	line-height: 25px;
	padding: 0 5px 0 5px;
	border-right: 1px solid #990000;
}

#topicmenu .final {
	border-right: none;
}

#topicmenu .active {
	background-color: #EDEDED;
}

#topicmenu .active a {
	color: #505050;
}

#content {
	width: 100%;
	color: #535353;
	font-size: 0.7em;
}

#content a {
	color: #1f4f82;
}

#main {
	float: left;
	width: 624px;
} /*布局。左边栏，长度自己测量的*/

#side {
	float: right;
	width: 396px;
}

#main>p {
	margin-top: 10px;
}

#main .headline {
	overflow: hidden;
}
#main .headline .date {
	font-weight: bold;
}

#main .headline h1 {
	font-size: 2.5em;
	height: 50px;
	line-height: 50px;
}

#main .headline img {
	float: left;
}

#main .headline .newsitem {
	width: 223px;
}

.newsitem {
	float: left;
	margin-left: 16px;
}

.newsitem .article {
	margin-bottom: 10px; 
}/*注意此处，伪类选择器的使用*/

.newsitem .links {
	line-height: 1.5em;
}

.newsitem .video {
	background: url(images/triangle.png) no-repeat left center;
	padding-left: 20px;
}

.newsitem .sound {
	background: url(images/sound.png) no-repeat left center;
	padding-left: 20px;
}

#main .news {
	border-top: 1px solid #dddddd;
	padding-top: 12px;
	margin-top: 18px;
	overflow: hidden;
}

#main .news img {
	float: left;
}

.newsitem h2 {
	font-size: 1.3em;
	font-weight: bold;
	margin-bottom: 5px;
}

.newsitem h2 span {
	font-size: 0.6em;
	color: #a80000;

}

#main .news .newsitem {
	width: 303px;
}

.newsitem a span {
	color: #a80000;
	font-weight: bold;
}

#main .newsitem .Profile a {
	line-height: 20px;
}

.newsitem .Profile {
	margin-bottom: 10px;
}

.newslist {
	padding-left: 320px; /*左边栏宽度304px，再加上16px间距*/
	padding-bottom: 10px;
	border-bottom: 1px solid #dddddd;
}

#main .other .newsitem {
	margin-left: 0;
	padding-right: 16px;
	width: 304px;
}

#main .news .newslist a {
	position: relative;
	line-height: 23px;
	font-size: 0.8em;
}

.newslist i {
	position: absolute; /*文字中图片可以用这种方法*/
	display: inline-block;
	width: 22px;
	height: 23px;
	background: url(images/comment.png) no-repeat;
}

.newslist span {
	padding-left: 22px;
	color: #da955c;
	font-weight: bold;
}

.channel {
	overflow: hidden;
	margin-bottom: 20px;
}

.channel h2 {
	font-size: 1.8em;
	line-height: 38px;
	border-bottom: 1px solid #dddddd;
}

.channel .expandnews {
	width: 304px;
	float: left;
	margin-top: 10px;
}

.expandnews img {
	padding-right: 14px;
	float: left;
}

.expandnews p {
	width: 178px;
	float: left;	
	font-weight: bold;
}

.expandnews h3 {
	font-size: 1.4em;
	padding-top: 80px;
}

.table {
	height: 194px;
	background-color: #3C3E51;
	border: 8px solid #262835;
	padding: 12px 8px 0 8px;
	margin-bottom: 18px;
}

#main .tableitem a {
	color: #A8C2D4;
	line-height: 27px;
}

#main .tableitem h3 a {
	color: white;
}

.tableitem i {
	color: white;
	padding: 0 3px 0 3px;
}

.tableitem {
	float: left;
	width: 288px;
}
.tableitem h3 {
	line-height: 30px;
	font-size: 1.3em;
	border-bottom: 1px solid black;
}

.tableitem:nth-child(odd) {
	margin-right: 15px;
}

.information img {
	float: left;
}

.information p {
	padding-left: 162px;
}

.information p:nth-child(2) {
	font-size: 2em;
	padding-top: 32px;
} /*p:nth-child(2)代表其父元素的第二个子元素的每个 p 的背景色。注意，这里的父元素是指information的div*/
/*p:nth-child(2) 也就是必须满足两个条件，1为父元素的第二个子元素，2本元素为p。（即有了两个选择条件限制）*/

#main .information p a {
	font-weight: bold;
}

.information p:nth-child(3) {
	font-size: 1.3em;
	color: #da955c;
	line-height: 20px;
}

.information i {
	padding: 0 5px 0 5px;
}

.clearfix:after {
	content: ".";
	clear: both;
	display: block;
	height: 0;
	overflow: hidden;
	visibility: hidden;
} /*注意此处清除浮动*/

.perTwitter {
	height: 64px;
	background-color: #ededed;
	padding: 10px;
	font-size: 1.4em;
}

#main .perTwitter a {
	font-weight: bold;
}

.perTwitter p:nth-child(2) {
	font-weight: bold;
}

.channel img {
	float: left;
}

.channel .special {
	margin-left: 305px;
}

.channel .main {
	background-color: #D1700E;
	padding: 10px;	
	color: white;	
	height: 85px;
}

.channel .main h3 {
	font-size: 1.3em;
	line-height: 25px;
}

#main .channel .main a {
	color: white;
}

.channel .more {
	padding: 10px;
	background-color: #EDEDED;
	height: 46px;
	line-height: 25px;
	font-weight: bold;
}

.channel .uknews {
	width: 144px;
	float: left;
	margin-right: 16px;
}

#main .channel .uknews a {
	font-weight: bold;
}

#main .channel .uknews h3 a {
	font-size: 1.3em;
}

.channel .uknews h3 {
	font-size: 1.3em;
	line-height: 36px;
	border-bottom: 1px solid #dddddd;
}

.channel .uknews img {
	margin: 10px auto;
}

.uknews a {
	display: inline-block;
}

.uknews>a, .uknews>p {
	padding-bottom: 5px;
}

.travel {
	border-bottom: 1px solid #dddddd;
	padding-bottom: 16px;
	margin-bottom: 0;
}

.travel h2 {
	border-bottom: none;
}

.travel .travelnews {
	float: left;
	position: relative;
}

.travel .travelnews:nth-child(2) {
	margin-right: 16px;
}

.travelnews .bg, .travelnews h3, .travelnews p {
	position: absolute;	
}

.travelnews .bg {
	background-color: rgba(0,0,0,0.7);
	height: 50px;
	width: 304px;
	bottom: 0;
	z-index: 2;
}

.travelnews h3 {
	bottom: 24px;
	left: 10px;
	z-index: 3;
}

#content .travelnews a {
	color: white;
	font-size: 1.1em;
}

.travelnews p {
	bottom: 8px;
	left: 10px;
	color: white;
	z-index: 3;
}

.live {
	margin-bottom: 0;
	border-bottom: 1px solid #dddddd;
}

.live img {
	float: left;
	padding: 10px 0 10px 0;
}

.live h3, .live p {
	padding-left: 162px;
}

.live h3 {
	padding-top: 10px;
	font-size: 1.3em;
}

.search {
	padding-bottom: 30px;
}

.search h2 {
	line-height: 50px;
}

.search form {
	width: 622px;
	height: 24px;
	background: url(images/search.png) no-repeat top right;
	border: 1px solid #dddddd;
	position: relative;
}

.search .text {
	width: 594px; 
	height: 24px;
	border: none; 
	outline: none; 
	border-right: 1px solid #dddddd;  
} 

/*submit框一旦没有value，其宽度就为0，因而需要重新设定宽度*/ /*其内容为一个搜索的图片，该图片大小正好为btn的大小30*25*/
.search .btn {
	width: 27px;
	height: 24px;
	border: none; 
	background: none;
	position: absolute; /*相对于外围的searchdiv框定位*/
	right: 0;
	top: 0;
}

.service {
	overflow: hidden;
	padding-bottom: 20px;
}

.service h2 {
	font-size: 2em;
}

.service ul, .service li {
	float: left;
}

.service li {
	padding-top: 48px;
	width: 124px;
	position: relative;
} /*用于定盒子位置，字体位置*/

.service span {
	width: 32px;
	height: 34px;
	position: absolute;	
	top: 12px;
	overflow: hidden;
    text-indent: -5000px; /*缩进隐藏文字*/
} /*用于定图片位置，相对于li盒子*/ /*其大小为图片大小*/

.service .ser-pic1 {
	background: url(images/serpic1.png) no-repeat top right;
}

.service .ser-pic2 {
	background: url(images/serpic2.png) no-repeat top right;
}

.service .ser-pic3 {
	background: url(images/serpic3.png) no-repeat top right;
}

.service .ser-pic4 {
	background: url(images/serpic4.png) no-repeat top right;
}

.service .ser-pic5 {
	background: url(images/serpic5.png) no-repeat top right;
}

.ee {
	border: 1px solid red;text-indent: 50px;
}

.ee a {
	
}




#side .watchlisten {
	float: left;
	background-color: #EEEEEE;
	width: 396px; 
	/*height: 196px;  /*不要设置高，让高自适应*/
	margin-top: 16px; 
}

.watchlisten h2 {
	color: #43403B;
	font-size: 2em;
	line-height: 40px;
}

.watchlisten .box {
	float: right;
	padding-left: 2px;
	margin-top: 20px; 
}

.watchlisten .box:first-child {
	padding-right: 5px;
} /*该选择是使最右边的一个正方形图标，与最右侧有距离5px*/

.leftarrow {
	float: left;
	border-right: 1px solid white;
}

.wlblock {
	float: left;
	background-color: #D1700E; 
	width: 169px;
	height: 146px;
	border-right: 1px solid white;
}

.wlblock p {
	padding: 5px;
}

#side .wlblock a {
	color: white; 
}

.rightarrow {
	float: left;
}

.watchlisten ul {
	float: left;
	width: 376px; /*396px-10px*2=376px*/
	margin: 0 10px 0 10px;
} 

.watchlisten li {
	background: url(images/live.png) no-repeat left center;
	padding: 5px 0 5px 30px;
	border-bottom: 1px solid #DDDDDD;
}/*live列表每个li的下边线*/

#side .watchlisten li a {
	color: #1F4F82;
} 

.watchlisten li:last-child {
	border-bottom: none;
} /*live列表最底下的下边线需取消*/

#footer .fixedwidth a {
	color: #4c4c4c;
}

#footer #main, #footer #side {
	position: relative;
	font-size: 0.8em;
}

#footer #main span {
	position: absolute;
	top: 15px;
	right: 90px;
}

#footer #main img {
	padding-top: 16px;
}

#footer #main p {
	width: 310px;
}

.leftpart, .rightpart {
	height: 106px;
	width: 156px;
	float: left;
	padding-top: 10px; 
}